
/* 
 * 	  font追加
 */
/* ciロゴ、gnav */
@import url(http://fonts.googleapis.com/css?family=Bitter);

/* 
 * 	  .header
 */
.sns {
    background-color: $gray-darkest;
    @include clearfix();
    ul {
        float: right;
        margin: 0;
        padding: .75em 0;
        font-size: $font-size-middle;
    }
    li {
        float: left;
        margin: 0 0 0 18px;
    }
    a {
        padding: .75em 0;
        color: #fff;
        &:hover {
            text-decoration: none;
            color: $gray-lighter;
        }
    }
}
.sns-inner {
    @include clearfix();
    @include center-block();
    width: $width-container;
}
.navbar {
    @include clearfix();
    padding: 10px 0;
    box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.275);
}
.navbar-inner {
    @include clearfix();
    @include center-block();
    width: $width-container;
}
.navbar-ci {
    float: left;
    font-family: 'Bitter', serif;
}
.navbar-ci-logo {
    display: table-cell;
    background-color: $brand-primary;
    padding: 2px 13px;
    text-align: center;
    font-size: ($font-size-xlarge * 1.2);
    color: #fff;
}
.navbar-ci-word {
    display: table-cell;
    padding: 0 0 0 8px;
    font-size: $font-size-xlarge * 1.2;
    color: #000;
    span {
        color: $brand-primary;
    }
}
.navbar-gnav {
    float: right;
    ul {
        margin: 10px 0 0 0;
        padding: 0;
        list-style: none;
        font-weight: bold;
    }
    li {
        float: left;
        margin: 0 0 0 20px;
        &.navbar-gnav-contact a {
            .contact-page & {
                color: $brand-primary;
            }
        }
    }
    a {
        color: $gray-dark;
        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}

/* 
 * 	  .bg-pagetheme（テーマ背景画像）
 */
.bg-pagetheme {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1200px 177px; // 2400 354
    height: 177px;
    .contact-page & {
        background-image: url(../img/bg-pagetheme-contact.jpg);
    }
}

/* 
 * 	  .main
 */
.main {
    @include clearfix();
    margin: -30px auto 0;
    width: $width-container;
}
.main-header {
    background-color: $gray-darker;
}
.main-header-h1 {
    margin: 0;
    padding: 39px 37px;
    line-height: $line-height-xsmall;
    font-size: $font-size-h1;
    color: #fff;
    small {
        font-size: $font-size-base;
        color: $gray-lighter;
    }
}
.main-contents {
    padding: 25px;
    border-right: 1px $gray-lightest solid;
    border-left: 1px $gray-lightest solid;
}

