
// font追加
// ciロゴ、gnav
@import url(http://fonts.googleapis.com/css?family=Bitter);

/* 
 * 	.header
 */
.sns {
    background-color: $gray-darkest;
    @include clearfix();
    ul {
        float: right;
        margin: 0;
        padding: .75em 0;
        font-size: $font-size-middle;
    }
    li {
        float: left;
        margin: 0 0 0 18px;
    }
    a {
        padding: .75em 0;
        color: #fff;
        &:hover {
            text-decoration: none;
            color: $gray-lighter;
        }
    }
}
.sns-inner {
    @include clearfix();
    @include center-block();
    width: $width-container;
}
.navbar {
    @include clearfix();
    padding: 10px 0;
    box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.275);
}
.navbar-inner {
    @include clearfix();
    @include center-block();
    width: $width-container;
}
.navbar-ci {
    float: left;
    font-family: 'Bitter', serif;
    .home-page & {
        margin: 0;
        line-height: $line-height-base;
        font-size: $font-size-base;
        font-weight: normal;
    }
}
.navbar-ci-logo {
    display: table-cell;
    background-color: $brand-primary;
    padding: 2px 13px;
    text-align: center;
    font-size: ($font-size-xlarge * 1.2);
    color: #fff;
}
.navbar-ci-word {
    display: table-cell;
    padding: 0 0 0 8px;
    font-size: $font-size-xlarge * 1.2;
    color: #000;
    span {
        color: $brand-primary;
    }
}
.navbar-gnav {
    float: right;
    ul {
        margin: 10px 0 0 0;
        padding: 0;
        list-style: none;
        font-weight: bold;
    }
    li {
        float: left;
        margin: 0 0 0 20px;
        &.navbar-gnav-home a {
            .home-page & {
                color: $brand-primary;
            }
        }
        &.navbar-gnav-blog a {
            .blog-page & {
                color: $brand-primary;
            }
        }
        &.navbar-gnav-contact a {
            .contact-page & {
                color: $brand-primary;
            }
        }
    }
    a {
        color: $gray-dark;
        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}

/* 
 * 	.slider（ホーム スライダー）
 */
.slider-main {
    @include center-block();
    width: 1020px;
}
.slider-thumb-outer { // スライダーサムネイル表示調整用
    position: relative;
    margin: -30px auto 0;
    background-color: $gray-darker;
    width: $width-container;
    z-index: 10;
}
.slider-thumb { // スライダーサムネイル動作用
    @include center-block();
    width: $width-container - 40px;
}
.slider-main-item,
.slider-thumb-item {
    img {
        @include img-responsive();
    }
}
.slider-main-item {
    position: relative;
    .slider-main-item-copy {
        position: absolute;
        top: 100px;
        left: 40px;
        font-family: 'Bitter', serif;
        font-size: ($font-size-xlarge * 1.2);
        color: #fff;
        span {
            display: inline-block;
            background-color: $gray-alpha;
            margin: 0 0 4px 0;
            padding: .3em;
        }
    }
}
.slider-thumb {
    background-color: $gray-darker;
    padding: 24px 0;
    .slider-thumb-item {
        margin: 0 6px;
    }
    .owl-item {
        img {
            border: 2px $gray-darker solid;
        }
    }
    .synced {
        img {
            border: 2px $brand-primary solid;
        }
    }
}
.slider-thumb-item {
    cursor: pointer;
}
.owl-theme {
    position: relative;
}
.owl-controls {
    position: relative;
}
.owl-buttons {
    position: absolute;
    top: 210px;
    color: #fff;
    z-index: 100;
    left: 40px;
}
.owl-prev,
.owl-next {
    background-color: $brand-primary;
    padding: .4em .5em;
}
.owl-next {
    position: absolute;
    top: 0;
    left: 36px;
}

/* 
 * 	.bg-pagetheme（テーマ背景画像）
 */
.bg-pagetheme {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1200px 150px;
    height: 150px;
    .blog-page & {
        background-image: url(../img/bg-pagetheme-contact.jpg);
        .ie8 & {
            background-image: url(../img/bg-pagetheme-contact-ie8.jpg);
        }
    }
    .contact-page & {
        background-image: url(../img/bg-pagetheme-contact.jpg);
        .ie8 & {
            background-image: url(../img/bg-pagetheme-contact-ie8.jpg);
        }
    }
}

/* 
 * 	.main
 */
.main {
    @include clearfix();
    position: relative;
    margin: -30px auto 0;
    width: $width-container;
    z-index: 10;
    .home-page & {
        margin: 0 auto;
    }
}
.main-header {
    background-color: $gray-darker;
}
.main-header-h1 {
    margin: 0;
    padding: 39px 37px;
    line-height: $line-height-xsmall;
    font-family: 'Bitter', serif;
    font-size: $font-size-h1;
    color: #fff;
    small {
        font-size: $font-size-base;
        color: $gray-lighter;
    }
}
.main-contents {
    background-color: #fff;
    padding: 25px;
    min-height: 400px;
    height: auto !important;
    height: 400px;
    border-right: 1px $gray-lightest solid;
    border-left: 1px $gray-lightest solid;
    .blog-page & {
        @include clearfix();
    }
}
.main-contents-main {
    float: left;
    width: 70%;
}
.main-contents-side {
    float: right;
    width: 30%;
    padding: 0 0 0 20px;
}
/* homeページ feature */
.features-all {
    display: table;
    margin: 0 0 30px 0;
}
.features-item {
    display: table-cell;
    width: (100% / 3);
    padding: 0 0 0 10px;
    &:first-child {
        padding-left: 0;
    }
}
.features-item-title {
    font-size: $font-size-large;
    font-family: 'Bitter', serif;
    i {
        background-color: $gray-darker;
        margin: 0 8px 0 0;
        padding: 6px;
        color: #fff;
    }
}
.features-copy {
    margin: 0 0 46px 0;
    font-family: 'Bitter', serif;
    font-size: $font-size-large;
    text-align: center;
    b {
        background-color: $brand-primary;
        padding: .5em;
        color: #fff;
    }
}
/* homeページ work */
.work-filter {
    ul {
        @include clearfix();
        margin: 0 0 20px 0;
        padding: 0;
        list-style: none;
        font-family: 'Bitter', serif;
    }
    li {
        float: left;
        &.work-filter--current a {
            background-color: $brand-primary;
            color: #fff;
        }
    }
    a {
        padding: .6em;
        color: $gray-dark;
        &:hover {
            background-color: $brand-primary;
            color: #fff;
            text-decoration: none;
        }
    }
}
.portfolio {
    @include clearfix();
}
.portfolio-item {
    float: left;
    position: relative;
    width: 206px;
    margin: 0 21px 21px 0;
    overflow: hidden;
    cursor: pointer;
    img {
        @include img-responsive();
    }
    &.is-portfolio-item {
        margin-right: 0;
    }
}
.portfolio-item-title {
    display: inline-block;
    position: absolute;
    background-color: $gray-alpha;
    left: 0;
    bottom: -32px;
    width: 100%;
    padding: 6px 10px;
    font-family: 'Bitter', serif;
    color: #fff;
    transition: all .1s linear 0;
    &.is-portfolio-item-title {
        bottom: 0;
    }
}
.portfolio-item-img {
    margin: 0;
}

/* 
 * 	.footer
 */
/* Social Media スプライト画像読み込み */
@import "sprite-sns-img";
.footer {
    background-color: $gray-darkest;
    margin: -30px 0 0 0;
    padding: 68px 0 40px 0;
    color: $gray-lighter;
    border-top: 7px $brand-primary solid;
}
.footer-inner {
    @include clearfix();
    @include center-block();
    width: $width-container;
}
.foote-item {
    float: left;
    padding: 0 0 0 20px;
    width: ($width-container / 3);
    &:first-child {
        padding-left: 0;
    }
    &.posts {
        ul {
            margin: 0;
            padding: 0;
            font-family: 'Bitter', serif;
            list-style: none;
        }
        li {
            padding: 16px 0;
            border-bottom: 1px $gray solid;
            &:first-child {
                padding-top: 0;
            }
        }
    }
    &.social {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            float: left;
            width: 30px;
            height: 30px;
            margin: 0 7px 7px 0;
            &:nth-child(8n) {
                margin-right: 0;
            }
            &.social-rss a {
                @include sprite($item-sns01-rss);
            }
            &.social-facebook a {
                @include sprite($item-sns02-facebook);
            }
            &.social-twitter a {
                @include sprite($item-sns03-twitter);
            }
            &.social-email a {
                @include sprite($item-sns04-email);
            }
            &.social-tumblr a {
                @include sprite($item-sns05-tumblr);
            }
            &.social-path a {
                @include sprite($item-sns06-path);
            }
            &.social-vimeo a {
                @include sprite($item-sns07-vimeo);
            }
            &.social-zerply a {
                @include sprite($item-sns08-zerply);
            }
            &.social-picasa a {
                @include sprite($item-sns09-picasa);
            }
            &.social-stumble a {
                @include sprite($item-sns10-stumble);
            }
            &.social-skype a {
                @include sprite($item-sns11-skype);
            }
            &.social-reddit a {
                @include sprite($item-sns12-reddit);
            }
            &.social-evernote a {
                @include sprite($item-sns13-evernote);
            }
            &.social-behance a {
                @include sprite($item-sns14-behance);
            }
            &.social-dribbble a {
                @include sprite($item-sns15-dribbble);
            }
            &.social-digg a {
                @include sprite($item-sns16-digg);
            }
            &.social-blogger a {
                @include sprite($item-sns17-blogger);
            }
            &.social-flickr a {
                @include sprite($item-sns18-flickr);
            }
            &.social-linkedin a {
                @include sprite($item-sns19-linkedin);
            }
            &.social-google a {
                @include sprite($item-sns20-google);
            }
        }
        a {
            display: block;
            background-repeat: no-repeat;
            @include text-hide();
        }
    }
}
.foote-item-title {
    margin: 0 0 24px 0;
    font-size: $font-size-middle;
    font-weight: bold;
    color: #fff;
}
