
// font追加
// ciロゴ、gnav
@import url(http://fonts.googleapis.com/css?family=Bitter);

/* 
 * 	.header
 */
.sns {
    background-color: $gray-darkest;
    @include clearfix();
    ul {
        float: right;
        margin: 0;
        padding: .75em 0;
        font-size: $font-size-middle;
    }
    li {
        float: left;
        margin: 0 0 0 18px;
    }
    a {
        padding: .75em 0;
        color: #fff;
        &:hover {
            text-decoration: none;
            color: $gray-lighter;
        }
    }
}
.sns-inner {
    @include clearfix();
    @include center-block();
    width: $width-container;
}
@media ( max-width: $screen-sm-max ) { // 939px
.sns-inner {
    width: 100%;
}
.sns {
    text-align: center;
    ul {
        float: none;
    }
    li {
        display: inline-block;
        float: none;
        margin: 0 14px;
    }
}
}
.navbar {
    @include clearfix();
    padding: 10px 0;
    box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.275);
}
.navbar-inner {
    @include clearfix();
    @include center-block();
    width: $width-container;
}
.navbar-ci {
    float: left;
    font-family: 'Bitter', serif;
    .home-page & {
        margin: 0;
        line-height: $line-height-base;
        font-size: $font-size-base;
        font-weight: normal;
    }
}
.navbar-ci-logo {
    display: table-cell;
    background-color: $brand-primary;
    padding: 2px 13px;
    text-align: center;
    font-size: ($font-size-xlarge * 1.2);
    color: #fff;
}
.navbar-ci-word {
    display: table-cell;
    padding: 0 0 0 8px;
    font-size: $font-size-xlarge * 1.2;
    color: #000;
    span {
        color: $brand-primary;
    }
}
.navbar-gnav {
    float: right;
    ul {
        @include clearfix();
        margin: 10px 0 0 0;
        padding: 0;
        list-style: none;
        font-weight: bold;
    }
    li {
        float: left;
        margin: 0 0 0 20px;
        &.navbar-gnav-home a {
            .home-page & {
                color: $brand-primary;
            }
        }
        &.navbar-gnav-blog a {
            .blog-page & {
                color: $brand-primary;
            }
        }
        &.navbar-gnav-contact a {
            .contact-page & {
                color: $brand-primary;
            }
        }
    }
    a {
        color: $gray-dark;
        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}
@media ( max-width: $screen-sm-max ) { // 939px
.navbar {
    box-shadow: none;
}
.navbar-inner {
    width: 100%;
}
.navbar-ci {
    margin: 0 0 0 10px;
    .home-page & {
        margin: 0 0 0 10px;
    }
}
.navbar-gnav {
    margin: 0 10px 0 0;
}
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.navbar-inner {
    text-align: center;
}
.navbar-ci {
    float: none;
    display: inline-block;
    margin: 10px 0;
    .home-page & {
        margin: 10px 0;
    }
    text-align: center;
}
.navbar-gnav {
    float: none;
    margin: 0;
    li {
        width: 50%;
        margin: 0;
        text-align: center;
    }
    a {
        display: block;
        padding: .5em 0;
    }
}
}

/* 
 * 	.slider（ホーム スライダー）
 */
.slider-main {
    @include center-block();
    width: 1020px;
}
@media ( max-width: $screen-sm-max ) { // 939px
.slider-main {
    width: 100%;
}
}
.slider-thumb-outer { // スライダーサムネイル表示調整用
    position: relative;
    margin: -30px auto 0;
    background-color: $gray-darker;
    width: $width-container;
    z-index: 10;
}
.slider-thumb { // スライダーサムネイル動作用
    @include center-block();
    width: $width-container - 40px;
}
@media ( max-width: $screen-sm-max ) { // 939px
.slider-thumb-outer {
    width: 100%;
    margin: 0 auto;
}
.slider-thumb {
    width: 100%;
}
}
.slider-main-item,
.slider-thumb-item {
    img {
        @include img-responsive();
    }
}
.slider-main-item {
    position: relative;
    .slider-main-item-copy {
        position: absolute;
        top: 100px;
        left: 40px;
        font-family: 'Bitter', serif;
        font-size: ($font-size-xlarge * 1.2);
        color: #fff;
        span {
            display: inline-block;
            background-color: $gray-alpha;
            margin: 0 0 4px 0;
            padding: .3em;
        }
    }
}
@media ( max-width: $screen-sm-max ) { // 939px
.slider-main-item {
    .slider-main-item-copy {
        top: 36%;
        left: 10px;
    }
}
}
@media ( max-width: $screen-ms ) { // 690px
.slider-main-item {
    .slider-main-item-copy {
        top: 10px;
    }
}
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.slider-main-item {
    .slider-main-item-copy {
        top: 6px;
        left: 4px;
        font-size: $font-size-base;
    }
}
}
.slider-thumb {
    background-color: $gray-darker;
    padding: 24px 0;
    .slider-thumb-item {
        margin: 0 6px;
    }
    .owl-item a {
        img {
            border: 2px $gray-darker solid;
        }
    }
    .synced a {
        img {
            border: 2px $brand-primary solid;
        }
    }
}
@media ( min-width: ($screen-iPadh + 1) ) { // 1025px
.slider-thumb { // PC版でフォーカスを効かせる
    .owl-item a {
        &:active img,
        &:focus img {
            border: 2px $brand-primary solid;
        }
    }
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { // ハック for Chrome
.slider-thumb { // chromeではfocusの挙動がおかしいので、focus時のボーダーは無効にする
    .owl-item a {
        &:active img,
        &:focus img {
            border: none;
        }
    }
    .owl-item a {
        img {
            .home-page & {
                border: 2px $gray-darker solid;
            }
        }
    }
    .synced a {
        img {
            .home-page & {
                border: 2px $brand-primary solid;
            }
        }
    }
}
}
.owl-buttons {
    position: relative;
    color: #fff;
    z-index: 100;
}
.owl-prev,
.owl-next {
    position: absolute;
    background-color: $brand-primary;
    top: 210px;
    padding: .4em .5em;
}
.owl-prev {
    left: 40px;
}
.owl-next {
    left: 90px;
}
@media ( max-width: $screen-sm-max ) { // 939px
.owl-prev {
    top: 250px;
    left: 10px;
}
.owl-next {
    top: 250px;
    left: 60px;
}
}
@media ( max-width: $screen-ms ) { // 690px
.owl-prev {
    top: 120px;
    left: 10px;
}
.owl-next {
    top: 120px;
    left: auto;
    right: 10px;
}
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.owl-prev {
    top: 70px;
    left: 0;
}
.owl-next {
    top: 70px;
    right: 0;
}
}

/* 
 * 	.bg-pagetheme（テーマ背景画像）
 */
.bg-pagetheme {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1200px 150px;
    height: 150px;
    .blog-page & {
        background-image: url(../img/bg-pagetheme-blog.jpg);
    }
    .contact-page & {
        background-image: url(../img/bg-pagetheme-contact.jpg);
    }
    .script-page & {
        background-image: url(../img/bg-pagetheme-script.jpg);
    }
}

/* 
 * 	.main
 */
.main {
    @include clearfix();
    position: relative;
    margin: -30px auto 0;
    width: $width-container;
    z-index: 10;
    .home-page & {
        margin: 0 auto;
    }
}
@media ( max-width: $screen-sm-max ) { // 939px
.main {
    width: 100%;
}
}
@media ( max-width: $screen-ms ) { // 690px
.main {
    margin: -100px auto 0;
}
}
.main-header {
    background-color: $gray-darker;
}
.main-header-h1 {
    margin: 0;
    padding: 20px 37px;
    line-height: $line-height-large;
    font-family: 'Bitter', serif;
    font-size: $font-size-h1;
    color: #fff;
    small {
        font-size: $font-size-base;
        color: $gray-lighter;
    }
}
@media ( max-width: $screen-ms ) { // 690px
.main-header-h1 {
    padding: 20px 37px;
}
}
.main-contents {
    background-color: #fff;
    padding: 25px;
    min-height: 400px;
    height: auto !important;
    height: 400px;
    border-right: 1px $gray-lightest solid;
    border-left: 1px $gray-lightest solid;
    .blog-page & {
        @include clearfix();
    }
}
/* blogページ レイアウト */
.main-contents-main {
    float: left;
    width: 70%;
}
.main-contents-side {
    float: right;
    width: 30%;
    padding: 38px 0 0 20px;
}
@media ( max-width: $screen-ms ) { // 690px
.main-contents-main {
    float: none;
    width: 100%;
}
.main-contents-side {
    float: none;
    width: 100%;
    padding: 0;
}
}
/* Contact ページ レイアウト */
.contact-map {
    margin: 0 0 20px 0;
}
.contact-info {
    float: left;
    width: 30%;
    padding:0 2% 0 0;
}
.contact-form {
    float: right;
    width: 70%;
}
@media ( max-width: $screen-ms ) { // 690px
.contact-info {
    float: none;
    width: 100%;
}
.contact-form {
    float: none;
    width: 100%;
}
}
/* homeページ feature */
.features-all {
    display: table;
    margin: 0 0 30px 0;
}
.features-item {
    display: table-cell;
    width: (100% / 3);
    padding: 0 0 0 10px;
    &:first-child {
        padding-left: 0;
    }
}
@media ( max-width: $screen-ms ) { // 690px
.features-all {
    display: block;
}
.features-item {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
}
}
.features-item-title {
    font-size: $font-size-large;
    font-family: 'Bitter', serif;
    span {
        background-color: $gray-darker;
        margin: 0 8px 0 0;
        padding: 6px;
        color: #fff;
    }
}
.features-copy {
    margin: 0 0 46px 0;
    font-family: 'Bitter', serif;
    font-size: $font-size-large;
    text-align: center;
    em {
        background-color: $brand-primary;
        padding: .5em;
        color: #fff;
        font-style: normal;
    }
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.features-copy {
    span {
        display: block;
    }
    em {
        display: inline-block;
    }
}
}
/* homeページ work */
.work-filter {
    ul {
        @include clearfix();
        margin: 0 0 20px 0;
        padding: 0;
        list-style: none;
        font-family: 'Bitter', serif;
    }
    li {
        float: left;
        &.work-filter--current a {
            background-color: $brand-primary;
            color: #fff;
        }
    }
    a {
        padding: .6em;
        color: $gray-dark;
        &:hover {
            background-color: $brand-primary;
            color: #fff;
            text-decoration: none;
        }
    }
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.work-filter {
    ul {
        text-align: center;
    }
    li {
         display: inline-block;
         width: (100% / 3);
    }
    a {
        display: block;
    }
}
}
.portfolio {
    @include clearfix();
}
.portfolio-item {
    float: left;
    position: relative;
    width: 206px;
    margin: 0 21px 21px 0;
    overflow: hidden;
    cursor: pointer;
    img {
        @include img-responsive();
    }
    &.is-portfolio-item {
        margin-right: 0;
    }
}
@media ( max-width: $screen-sm-max ) { // 939px
.portfolio-item {
    width: 25% - 2%;
    margin: 0 1% 2% ;
}
}
@media ( max-width: $screen-ms ) { // 690px
.portfolio-item {
    width: (100% / 3) - 2%;
}
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.portfolio-item {
    width: 50% - 2%;
}
}
.portfolio-item-title {
    display: inline-block;
    position: absolute;
    background-color: $gray-alpha;
    left: 0;
    bottom: -32px;
    width: 100%;
    padding: 6px 10px;
    font-family: 'Bitter', serif;
    color: #fff;
    transition: all .1s linear 0;
    &.is-portfolio-item-title {
        bottom: 0;
    }
}
.portfolio-item-img {
    margin: 0;
}
/* blogページ 記事 */
.blog-article {
    padding: 20px 0 20px 0;
    border-top: 5px $brand-primary solid;
    &:first-child {
        padding-top: 0;
        border-top: none;
    }
}
.blog-article-title {
    margin: 0 0 20px 0;
    font-family: 'Bitter', serif;
    font-size: $font-size-large;
    color: $gray-light;
}
.blog-artice-media {
    margin: 0 0 20px 0;
    img {
        @include img-responsive();
    }
}
.blog-artice-media-audio {
    width: 100%;
}
.blog-article-txt {
    @include clearfix();
}
.blog-article-txt-info {
    float: left;
    width: 25%;
    dl {
        margin: 0 0 10px 0;
        &.blog-article-txt-info-tags {
            span {
                margin: 0 0 0 5px;
                &:first-child {
                    margin-left: 0;
                    &:before {
                        content: '';
                        margin: 0;
                    }
                }
                &:before {
                    content: '|';
                    margin: 0 5px 0 0;
                }
            }
        }
    }
    dt {
        font-family: 'Bitter', serif;
        font-weight: normal;
    }
    dd {
        font-size: $font-size-small;
        color: $brand-primary;
    }
}
.blog-article-txt-txt {
    float: left;
    width: 75%;
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.blog-article-txt-info {
    @include clearfix();
    float: none;
    width: 100%;
    dl {
        float: left;
        width: (100% / 3);
        &.blog-article-txt-info-tags {
            span {
                display: block;
                margin: 0;
                &:before {
                    content: '';
                    margin: 0;
                }
            }
        }
    }
}
.blog-article-txt-txt {
    float: none;
    width: 100%;
}
}
/* blogページ サイド */
.side-item {
    margin: 0 0 26px 0;
}
.side-item-title {
    margin: 0 0 16px 0;
    padding: 0 0 6px 0;
    font-family: 'Bitter', serif;
    font-size: $font-size-middle;
    border-bottom: 5px $brand-primary solid;
}
.side-item-category {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        span {
            margin: 0 0 0 4px;
        }
    }
}
.side-item-adv {
    ul {
        @include clearfix();
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        float: left;
        width: 50%;
        padding: 0 6px 6px 0;
        img {
            width: 100%;
            height: auto;
//            @include img-responsive();
            border: 1px $gray-lightest solid;
        }
    }
}
@media ( max-width: $screen-ms ) { // 690px
.side-item-adv {
    li {
        width: 25%;
        padding: 0 3px 6px;
    }
}
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.side-item-adv {
    li {
        width: 50%;
    }
}
}
/* Contactページ フォーム */
.form-oneline {
    @include clearfix();
    .form-group {
//        display: inline-block;
        float: left;
        width: 49%;
        margin: 0 0 15px 2%;
        &:first-child {
            margin-left: 0;
        }
    }
}
@media ( max-width: ($screen-iPadh) ) { // 1024px
.contact-number {
    line-height: $line-height-double;
}
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.form-oneline {
    .form-group {
        float: none;
        width: 100%;
        margin: 0 0 15px 0;
    }
}
}
/* スクリプトページ */
.btn-a,
.btn-b {
    @include clearfix();
    list-style: none;
    padding: 0;
    li {
        float: left;
        margin: 0 1em 0 0;
    }
}
.is-btn-b-appear {
    display: none;
}
@media ( max-width: ($screen-xs - 1) ) { // 479px
.btn-a,
.btn-b {
    li {
        float: none;
        margin: 0 0 10px 0;
    }
}
}
.btn-c {
    .checkbox {
        input {
            position: static;
            margin: 0 4px 0 0;
        }
    }
}
.btn-e {
    font-size: $font-size-large;
}
.btn-e-menubtn {
    display: inline-block;
//    margin: 0 0 1em 0;
    cursor: pointer;
}
.btn-e-menu { // 親 ul
    display: none;
    padding: 0;
    list-style: none;
    a {
        display: block;
        background-color: $gray-lightest;
        padding: 1em 0 1em 1em;
        &:before {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            padding: 0 0 0 6px;
            border-top: 6px transparent solid;
            border-bottom: 6px transparent solid;
            border-left: 10px #000 solid;
        }
    }
    .btn-e-menu-sub { // li
        cursor: pointer;
    }
    .is-btn-e-menu-sub {
        > a {
            &:before {
                margin: 0 6px 0 -2px;
                padding: 0;
                border-top: 9px $gray-lighter solid;
                border-bottom: 2px transparent solid;
                border-left: 6px transparent solid;
                border-right: 6px transparent solid;
            }
        }
    }
    ul { // 第２階層 ul
        display: none;
        padding: 0;
        list-style: none;
        li {
            > a {
                background-color:  $gray;
            }
        }
    }
}
.dropdown-menu-a,
.dropdown-menu-b {
    .navbar {
        padding: 0;
    }
}
// ドロップダウンメニューホバー
@mixin dropdown-hover {
    .dropdown-menu-b {
        .dropdown:hover .dropdown-menu {
		    display: block;
	    }
    }
}
@media ( min-width: ($screen-iPadh + 1) ) { // 1025px PC版で効かせる
@include dropdown-hover;
}
.ie7, .ie8 {
    @include dropdown-hover;
}
.dropdown-menu-c  {
// ESSENTIAL STYLES
    .sf-menu {
        @include clearfix();
    }
    .sf-menu, .sf-menu * {
	    margin: 0;
	    padding: 0;
	    list-style: none;
    }
    .sf-menu li {
	    position: relative;
    }
    .sf-menu ul {
	    position: absolute;
	    display: none;
	    top: 100%;
	    left: 0;
	    z-index: 99;
    }
    .sf-menu > li {
	    float: left;
    }
    .sf-menu li:hover > ul,
    .sf-menu li.sfHover > ul {
	    display: block;
    }
    .sf-menu a {
	    display: block;
	    position: relative;
    }
    .sf-menu ul ul {
	    top: 0;
	    left: 100%;
    }
    // skin
    .sf-menu {
    //	float: left;
    //	margin-bottom: 1em;
    }
    .sf-menu ul {
	    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	    min-width: 12em; // allow long menu items to determine submenu width */
        .ie7 & {
            width: 12em; // no auto sub width for IE7, see white-space comment below */
        }
    }
    .sf-menu a {
	    border-left: 1px solid #fff;
	    border-top: 1px solid #dFeEFF; // fallback colour must use full shorthand */
	    border-top: 1px solid rgba(255,255,255,.5);
	    padding: .75em 1em;
	    text-decoration: none;
        .ie7 & {
            zoom: 1; /* IE7 */
        }
    }
    .sf-menu a {
	    color: #13a;
    }
    .sf-menu li {
	    background: #BDD2FF;
	    white-space: nowrap; // no need for Supersubs plugin */
        .ie7 & {
            white-space: normal; // ...unless you support IE7 (let it wrap) */
        }
	    transition: background .2s;
    }
    .sf-menu ul li {
	    background: #AABDE6;
    }
    .sf-menu ul ul li {
	    background: #9AAEDB;
    }
    .sf-menu li:hover,
    .sf-menu li.sfHover {
	    background: #CFDEFF;
	    // only transition out, not in
	    transition: none;
    }
}
// タッチイベント
.touch {
    li {
        margin: 0 0 10px 0;
        padding: 4px;
        &.is-touch-hover {
            color: $brand-success;
            font-weight: bold;
        }
    }
}

/* 
 * 	.footer
 */
/* Social Media スプライト画像読み込み */
@import "sprite-sns-img";
.footer {
    background-color: $gray-darkest;
    margin: -30px 0 0 0;
    padding: 68px 0 40px 0;
    color: $gray-lighter;
    border-top: 7px $brand-primary solid;
}
.footer-inner {
    @include clearfix();
    @include center-block();
    width: $width-container;
}
@media ( max-width: $screen-sm-max ) { // 939px
.footer-inner {
    width: 100%;
}
}
.foote-item {
    float: left;
    padding: 0 0 0 20px;
    width: ($width-container / 3);
    &:first-child {
        padding-left: 0;
    }
    &.posts {
        ul {
            margin: 0;
            padding: 0;
            font-family: 'Bitter', serif;
            list-style: none;
        }
        li {
            padding: 16px 0;
            border-bottom: 1px $gray solid;
            &:first-child {
                padding-top: 0;
            }
        }
    }
    &.social {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            float: left;
            width: 30px;
            height: 30px;
            margin: 0 7px 7px 0;
            &:nth-child(8n) {
                margin-right: 0;
            }
            &.social-rss a {
                @include sprite($item-sns01-rss);
            }
            &.social-facebook a {
                @include sprite($item-sns02-facebook);
            }
            &.social-twitter a {
                @include sprite($item-sns03-twitter);
            }
            &.social-email a {
                @include sprite($item-sns04-email);
            }
            &.social-tumblr a {
                @include sprite($item-sns05-tumblr);
            }
            &.social-path a {
                @include sprite($item-sns06-path);
            }
            &.social-vimeo a {
                @include sprite($item-sns07-vimeo);
            }
            &.social-zerply a {
                @include sprite($item-sns08-zerply);
            }
            &.social-picasa a {
                @include sprite($item-sns09-picasa);
            }
            &.social-stumble a {
                @include sprite($item-sns10-stumble);
            }
            &.social-skype a {
                @include sprite($item-sns11-skype);
            }
            &.social-reddit a {
                @include sprite($item-sns12-reddit);
            }
            &.social-evernote a {
                @include sprite($item-sns13-evernote);
            }
            &.social-behance a {
                @include sprite($item-sns14-behance);
            }
            &.social-dribbble a {
                @include sprite($item-sns15-dribbble);
            }
            &.social-digg a {
                @include sprite($item-sns16-digg);
            }
            &.social-blogger a {
                @include sprite($item-sns17-blogger);
            }
            &.social-flickr a {
                @include sprite($item-sns18-flickr);
            }
            &.social-linkedin a {
                @include sprite($item-sns19-linkedin);
            }
            &.social-google a {
                @include sprite($item-sns20-google);
            }
        }
        a {
            display: block;
            background-repeat: no-repeat;
            @include text-hide();
        }
    }
}
@media ( max-width: $screen-sm-max ) { // 939px
.foote-item {
    width: (100% / 3);
    padding: 0 20px;
    &:first-child {
        padding-left: 20px;
    }
    &.social {
        li {
            margin: 0 16px 18px 0;
            &:nth-child(8n) {
                margin-right: 16px;
            }
        }
    }
}
}
@media ( max-width: $screen-ms ) { // 690px
.foote-item {
    width: 100%;
    margin: 0 0 40px 0;
}
}
.foote-item-title {
    margin: 0 0 24px 0;
    font-size: $font-size-middle;
    font-weight: bold;
    color: #fff;
}
